*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #fff;
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    -webkit-font-smoothing: antialiased;
    font-family: 苹方;
}
.all{
    width: 100%;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    opacity: 0.8;
}
.top{
    width:100% ;
    height: 0.88rem;
    background-color: #fe413a;
    position:fixed;
    top: 0;
    z-index: 300;
}
.top .left{
    width: 0.22rem;
    height: 0.4rem;
    padding: 0.25rem 0.22rem;
    float: left;
}
.top .left a{
    display: block;
    width: 0.22rem;
    height: 0.4rem;
    background-image: url("../img/zuo.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
}
.top .center{
    width: 4.5rem;
    height: 0.88rem;
    line-height: 0.95rem;
    text-align: center;
    font-size: 0.4rem;
    color: #ffffff;
    margin: 0 auto;
}
.top .reg{
    width: 0.6rem;
    height: 0.25rem;
    padding: 0.32rem 0.3rem;
    float: right;
}
.top .reg a{
    display: block;
    width: 0.6rem;
    height: 0.25rem;
    color: #fff;
    font-size: 0.28rem;
}
.img{
    width: 100%;
    height: 2.7rem;
    margin-top: 1.5rem;
    color: #fe3d3e;
    font-size: 0.3rem;
    text-align: center;
}
.img a{
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    margin: 0 auto;
    background-image: url("../img/tx.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;

}
.img span{
    display: block;
    margin-top: 0.4rem;
}
.content{
    width: 100%;
    height: 4.5rem;
    margin-top: 0.5rem;
}
.content .box{
    width: 6.6rem;
    height: 3.2rem;
    margin: 0 auto;
    padding-top: 0.9rem;
    border-radius: 0.2rem;
    box-shadow: #f1f1f1 1px 1px 10px 1px ;
    position: relative;
}
.content .sj{
    width: 4.74rem;
    height: 0.7rem;
    border: 0.01rem solid #f8f7f7;
    border-radius: 1rem;
    background-color: #fcfcfc;
    outline: none;
    margin-left: 0.8rem;
    margin-bottom: 0.32rem;
    position: relative;
}
.sj:hover{
  background-color: #f5f5f5;
}
.sj .zq{
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.1rem;
    background-image: url("../img/zq.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    position: absolute;
    right: 0.24rem;
    top: 0.12rem;
    display: none;
}
.sj .cw{
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.1rem;
    background-image: url("../img/cw.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    position: absolute;
    right: 0.24rem;
    top: 0.12rem;
    display: none;
}
.sj .ts{
    width: 2rem;
    height: 0.4rem;
    margin-left: 0.1rem;
    background-image: url("../img/13.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    position: absolute;
    right: 0.5rem;
    top: -0.16rem;
    display: none;
}
.sj a{
    display: block;
    width: 0.6rem;
    height: 0.7rem;
    margin-left: 0.1rem;
    background-image: url("../img/sj.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    float: left;
}
.sj .input{
    display: block;
    width: 3.2rem;
    margin-left: 0.1rem;
    height: 0.7rem;
    background-color: #fcfcfc;
    border: none;
    outline: none;
    float: left;
}

.sj:hover .input{
  background-color: #f5f5f5;
}
.content .mm{
    width: 4.74rem;
    height: 0.7rem;
    border: 0.01rem solid #f8f7f7;
    border-radius: 1rem;
    background-color: #fcfcfc;
    outline: none;
    margin-left: 0.8rem;
    margin-bottom: 0.12rem;
    position: relative;
}
.mm:hover{
  background-color: #f5f5f5;
}
.mm .zq{
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.1rem;
    background-image: url("../img/zq.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    position: absolute;
    right: 0.24rem;
    top: 0.12rem;
    display: none;
}
.mm .cw{
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.1rem;
    background-image: url("../img/cw.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    position: absolute;
    right: 0.24rem;
    top: 0.12rem;
    display: none;
}
.mm .ts{
    width: 2rem;
    height: 0.4rem;
    margin-left: 0.1rem;
    background-image: url("../img/14.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    position: absolute;
    right: 0.5rem;
    top: -0.16rem;
    display: none;
}
.mm a{
    display: block;
    width: 0.6rem;
    height: 0.7rem;
    border-radius: 1rem;
    margin-left: 0.1rem;
    background-image: url("../img/mm.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    float: left;
}
.mm .input{
    display: block;
    width: 3.2rem;
    margin-left: 0.1rem;
    height: 0.7rem;
    background-color: #fcfcfc;
    border: none;
    outline: none;
    float: left;
}
.mm:hover .input{
  background-color: #f5f5f5;
}
input::-webkit-input-placeholder {
    color: #e0e0e0;
}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px #fcfcfc inset !important;}

.content .wjxg{
    width: 4.6rem;
    height: 0.46rem;
    margin-left: 0.8rem;
}
.wjxg .wj{
    width: 1.6rem;
    height: 0.56rem;
    float: left;

}
.wj .yuan{
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    margin: 0.1rem 0.1rem  0 0.24rem;
    background-image: url("../img/yuan.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    float: left;
}
.wj a{
    color: #adadad;
    line-height: 0.56;
    margin: auto 0;
}
.wjxg .xg{
    width: 1.6rem;
    height: 0.56rem;
    float: right;
}
.xg .yuan{
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    margin: 0.1rem 0.1rem  0 0.24rem;
    background-image: url("../img/yuan.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
    float: left;
}
.xg a{
    color: #adadad;
    line-height: 0.56;
    margin: auto 0;
}
.button{
    display: block;
    width: 2.3rem;
    background-color: #fe294f;
    border-radius: 1rem;
    color: #fff;
    font-size: 0.3rem;
    line-height: 0.62rem;
    text-align: center;
    box-shadow: darkgrey 1px 1px 10px 1px ;
    position: absolute;
    bottom: -0.3rem;
    left: 2.15rem;
    outline: none;
    border-color: transparent;
}
.san{
    width: 100%;
    height: 1.6rem;
    margin-top: 0.9rem;
}
.san .qww{
    width: 7rem;
    height: auto;
    margin: 0 auto;
}
.san .line{
    width: 6.6rem;
    height:0.25rem ;
    margin: 0 auto;
    color: #fe9b9f;
    font-size: 0.28rem;
    text-align: center;
    position: relative;
}
.line .line1{
    width: 2.22rem;
    border: #ffcbd4 solid 0.01rem;
    position: absolute;
    top: 0.18rem;
    left: 0;
}
.line .line2{
    width: 2.22rem;
    border: #ffcbd4 solid 0.01rem;
    position: absolute;
    top: 0.18rem;
    right: 0;
}
.san .qq a{
    display: block;
    width: 0.76rem;
    height: 0.76rem;
    border-radius: 50%;
    box-shadow: #f1f1f1 1px 1px 10px 1px ;
    margin-top: 0.5rem;
    margin-left: 1.52rem;
    float: left;
    background-image: url("../img/qq.png");
    background-repeat:no-repeat;
    background-size:60% 60%;
    background-position: 0.14rem 0.14rem;
    transition: all 0.3s ease 0ms;
}
.san .wx a{
    display: block;
    width: 0.76rem;
    height: 0.76rem;
    border-radius: 50%;
    box-shadow: #f1f1f1 1px 1px 10px 1px ;
    margin-top: 0.5rem;
    margin-left: 1rem;
    float: left;
    background-image: url("../img/wx.png") ;
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
}
.san .wb a{
    display: block;
    width: 0.76rem;
    height: 0.76rem;
    border-radius: 50%;
    box-shadow: #f1f1f1 1px 1px 10px 1px ;
    margin-top: 0.5rem;
    margin-left: 1rem;
    float: left;
    background-image: url("../img/wb.png");
    background-repeat:no-repeat;
    background-size:60% 60%;
    background-position: 0.14rem 0.14rem;
    transition: all 0.3s ease 0ms;
}
.yunxu{
    width: 6rem;
    height: 3.3rem;
    border-radius: 0.1rem;
    position: fixed;
    top: 5.3rem;
    left: 0.75rem;
    z-index: 15;
    background-color: #fff;
    display: none;
}
.yunxu .tu1{
    width: 1rem;
    height: 1rem;
    margin: 0.24rem auto 0;
    border-radius: 50%;
    background-image: url("../img/tu.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    transition: all 0.3s ease 0ms;
}
.yunxu .zi{
    width: 3rem;
    height: 0.3rem;
    margin: 0.2rem auto 0;
    color: #74767c;
    text-align: center;
    font-size: 0.24rem;
}
.yunxu .xian1{
    width: 0.2rem;
    border: 0.02rem solid #c9c9c9;
    border-radius: 0.02rem;
    float: left;
    margin-top: 0.12rem;
}
.yunxu .xian2{
    width: 0.2rem;
    border: 0.02rem solid #c9c9c9;
    border-radius: 0.02rem;
    float:right ;
    margin-top: 0.12rem;
}
.yunxu .xuan{
    width: 5.4rem;
    height: 1rem;
    border-top: 0.02rem solid #c9c9c9;
    margin: 0.43rem auto 0;
}
.xuan .qx{
    width: 2.66rem;
    height: 0.7rem;
    float: left;
    margin-top: 0.06rem;
}
.xuan .yx{
    width: 2.66rem;
    height: 0.7rem;
    float: right;
    margin-top: 0.06rem;
}
.xuan a{
    display: block;
    width: 2.56rem;
    height: 0.88rem;
    color: #373a44;
    text-align: center;
    line-height: 0.88rem;
    float: left;
    font-size: 0.28rem;
}
/* .xuan .qx::after{
    content: "";
    border: 0.01rem solid  #c9c9c9;
} */
.yunxu .shu{
    width: 0.02rem;
    height: 0.76rem;
    background-color: #c9c9c9;
    margin: 0.1rem 0 0 2.6rem;
}
