<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/rem.js"></script>
	<script src="js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/index1.css">
</head>
<body>
    <header>
        <div class="top">
            <a href="index0.html"><img src="img/返回.png" id="fanhui"></a>
            <span>搜索</span>
            <a href=""><img src="img/照相机.png" id="photo"></a>
        </div>
        <div class="bottom">
            <div class="search">
                <span>请输入您要搜索的关键字</span>
                <img src="img/搜索.png" alt="">
            </div>
        </div>
    </header>
    <main>
        <img src="img/缺省.png" alt="">
        <span>页面缺失，正在查找~</span>
    </main>
</body>
</html>
