<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>热门品种</title>
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/popular_varieties.css">
</head>
<body>
    <div class="app">
        <header>
            <div class="con">
                <div class="icon_sousuo">
                    <img src="../static/imgs/jiyang/jiantou.png" width="11" height="20" alt="">
                </div>
                <div class="word">
                    <span>热门品种</span>
                </div>
                <div class="icon_fabu">
                    <img src="../static/imgs/remenpinzhong/right_icon.png" width="20" height="17" alt="">
                </div>
            </div>
        </header>
        <main>
            <section class="search">
                <input type="text">
            </section>
            <section class="background">

            </section>
            <section class="con">
                <div class="box">
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/jinmao.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>金毛寻回犬</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/chuanchuan.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>串串狗</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/bianjing.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>边境沙皮狗</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/deguo.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>德国金毛犬</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/bixiong.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>比熊犬</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/sugelan.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>苏格兰牧羊犬</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/boli.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>波利犬</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/bianjingmuyang.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>边境牧羊犬</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/chai.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>柴犬</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/samoye.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>萨摩耶</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/guibing.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>贵宾犬</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/qiutian.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>秋田犬</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/mini.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>迷你狗</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/shapi.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>沙皮狗</span>
                        </div>
                    </div>
                    <div class="info">
                        <img src="../static/imgs/remenpinzhong/bige.png" width="65" height="65" alt="">
                        <div class="word">
                            <span>比格犬</span>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>