<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>所在位置</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'sj/css/position.css' %}">
    <script src="{% static 'sj/js/rem.js' %}"></script>
    <script src="{% static 'sj/js/jquery-3.2.1.js' %}"></script>

</head>
<body>
    <!--我的个人信息-->
    <header class="head">
        <header class="main_box">
            <a href="{% url 'sj:fabu'%}" id="back_box"><img src="{% static 'sj/img/back11.png' %}" alt="" class="back_con"></a>
            <span id="mine">所在位置</span>
            <header id="menu_box"></header>
        </header>
    </header>
    <!--位置-->
    <main class="position_con">
        <main class="position_box1">
            <main class="position1 position2">
              <a href=""><span style="color: red">不显示位置</span></a>

                <img src="{% static 'sj/img/weizhi.png' %}" alt="" style="display: block;height: 0.33rem;width: 0.33rem">
            </main>
            <main class="position1 position3">太原市 小店区</main>
            <main class="position1 position4">
                <main class="text1">晋商国际大酒店</main>
                <main class="text2">山西省太原市小店区学府街126号（平阳路与学府街交叉口）</main>
            </main>
            <main class="position1 position4">
                <main class="text1">晋商国际大酒店</main>
                <main class="text2">山西省太原市小店区学府街126号（平阳路与学府街交叉口）</main>
            </main>
            <main class="position1 position4">
                <main class="text1">晋商国际大酒店</main>
                <main class="text2">山西省太原市小店区学府街126号（平阳路与学府街交叉口）</main>
            </main>
            <main class="position1 position4">
                <main class="text1">晋商国际大酒店</main>
                <main class="text2">山西省太原市小店区学府街126号（平阳路与学府街交叉口）</main>
            </main>
            <main class="position1 position4">
                <main class="text1">晋商国际大酒店</main>
                <main class="text2">山西省太原市小店区学府街126号（平阳路与学府街交叉口）</main>
            </main>
            <main class="position1 position4">
                <main class="text1">晋商国际大酒店</main>
                <main class="text2">山西省太原市小店区学府街126号（平阳路与学府街交叉口）</main>
            </main>
        </main>
    </main>
</body>
</html>
