<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>最近照片</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/recent_photos.css">
    <script src="js/jquery-3.2.1.js"></script>
</head>
<body>
    <div class="app">
        <header>
            <div class="con">
                <div class="icon_sousuo">
                    <img src="img/jiyang/jiantou.png" width="11" height="20" alt="">
                    <span>相册</span>
                </div>
                <div class="word">
                    <span>最近照片</span>
                </div>
                <div class="icon_fabu">
                    <span>取消</span>
                </div>
            </div>
        </header>
        <main>
            <section class="section1">
                今天
            </section>
            <section class="section2">
                <div class="con">
                    <img src="img/paishe.png" width="87" height="87" alt="">
                </div>
                <div class="con">
                    <img src="img/gougou1.png" width="87" height="87" alt="">
                </div>
                <div class="con">
                    <img src="img/gougou2.png" width="87" height="87" alt="">
                </div>
                <div class="con">
                    <img src="img/gougou3.png" width="87" height="87" alt="">
                </div>
                <div class="con">
                    <img src="img/gougou4.png" width="87" height="87" alt="">
                </div>
                <div class="con">
                    <img src="img/gougou5.png" width="87" height="87" alt="">
                </div>
            </section>
            <section class="section3">
                10月09号
            </section>
            <section class="section4">
                <div class="box">
                    <img src="img/maomi1.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                     <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi2.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi3.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi4.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi5.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi6.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi7.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi8.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi9.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi10.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
                <div class="box">
                    <img src="img/maomi11.png" width="87" height="87" alt="">
                    <div class="circle">
                        <img src="img/circle.png" width="10" height="10" alt="">
                    </div>
                    <img src="img/选择寄.png" class="duihao">
                </div>
            </section>
            <section class="section5">

            </section>
        </main>
        <footer>
            <div class="con">
                <div class="word">
                    <span>预览</span>
                    <span>编辑</span>
                </div>
                <a href="fabu.html"><div class="button">
                    确定
                </div></a>
            </div>
        </footer>
    </div>
</body>
</html>
<script>
    window.onload=function (){
        let box=document.querySelectorAll('.box');
        let duihao=document.querySelectorAll('.duihao');
        box.onclick=function () {

        }
    }
</script>