<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>推荐</title>
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/recommended.css">
</head>
<body>
    <div class="app">
        <header>
            <div class="con">
                <div class="icon_sousuo">
                    <img src="../static/imgs/jiyang/jiantou.png" width="12" height="20" alt="">
                </div>
                <div class="word">
                    <span>推荐</span>
                </div>
            </div>
        </header>
        <main>
            <section class="section1">
                <div class="con">
                    <div class="loction">
                        <div class="left">
                            <div class="img_ji">
                                <img src="../static/imgs/jiyang/jichonghead1.png" width="48" height="48" alt="">
                            </div>
                            <div class="location_name">
                                <div class="top">
                                    <span>布丁</span>
                                    <span>山西</span>
                                    <span>太原</span>
                                    <div class="img_dingwei">
                                        <img src="../static/imgs/jiyang/dingwei.png" width="13" height="19" alt="">
                                    </div>
                                </div>
                                <div class="bottom">
                                    <span>安可</span>
                                    <span>二哈</span>
                                    <div class="img_gutou">
                                        <img src="../static/imgs/jiyang/gutou.png" width="26" height="23" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="img_lianxi">
                                <img src="../static/imgs/jiyang/lianxi.png" width="73" height="25" alt="">
                            </div>
                            <div class="word">
                                <span>联系</span>
                            </div>
                        </div>
                    </div>
                    <p>
                        距离小长假还有两三天，去哪里浪呢？和狗狗一起去看日落可能是一个不错的选择，有朋友一起走吗？
                    </p>
                    <div class="img_box">
                        <img src="../static/imgs/jiyang/tuijianimg.png" width="327" height="151" alt="">
                    </div>
                    <div class="pinglun">
                        <div class="zang">
                            <div class="left">
                                <div class="img_zang1">
                                    <img src="../static/imgs/jiyang/zang1img.png" width="28" height="28" alt="">
                                </div>
                                <div class="img_zang1">
                                    <img src="../static/imgs/jiyang/zang2img.png" width="28" height="28" alt="">
                                </div>
                                <div class="img_zang1">
                                    <img src="../static/imgs/jiyang/zang3img.png" width="28" height="28" alt="">
                                </div>
                                <div class="zangnum">
                                    <span style="color:#FE9186;">2468</span>
                                    个赞
                                </div>
                            </div>
                            <div class="right">
                                <div class="img_icon">
                                    <img src="../static/imgs/jiyang/zangicon.png" width="41" height="38" alt="">
                                </div>
                                <div class="img_icon">
                                    <img src="../static/imgs/jiyang/pinglunicon.png" width="41" height="38" alt="">
                                </div>
                                <div class="img_icon">
                                    <img src="../static/imgs/jiyang/zhuanfaicon.png" width="41" height="38" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="con1">
                            <div class="pinglun_con">
                                <span style="color:#FE4735;">包子：</span>
                                去哪里看呢？
                            </div>
                            <div class="pinglun_con">
                                <div>
                                    <span style="color:#FE4735;">饺子：</span>
                                </div>
                                <div class="img_jiaozi">
                                    <img src="../static/imgs/jiyang/jiaozi.png" width="18" height="18" alt="">
                                </div>
                                <div class="img_jiaozi">
                                    <img src="../static/imgs/jiyang/jiaozi.png" width="18" height="18" alt="">
                                </div>
                                <div class="img_jiaozi">
                                    <img src="../static/imgs/jiyang/jiaozi.png" width="18" height="18" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="num">
                            <div class="look_pinglun">
                                <span>查看所有10+条评论</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section2">

            </section>
            <section class="section3">
                <div class="con">
                    <div class="loction">
                        <div class="left">
                            <div class="img_ji">
                                <img src="../static/imgs/jiyang/tuijianhead.png" width="48" height="48" alt="">
                            </div>
                            <div class="location_name">
                                <div class="top">
                                    <span>布丁</span>
                                    <span>山西</span>
                                    <span>太原</span>
                                    <div class="img_dingwei">
                                        <img src="../static/imgs/jiyang/dingwei.png" width="13" height="19" alt="">
                                    </div>
                                </div>
                                <div class="bottom">
                                    <span>安可</span>
                                    <span>金毛</span>
                                    <div class="img_gutou">
                                        <img src="../static/imgs/jiyang/gutou.png" width="26" height="23" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="img_lianxi">
                                <img src="../static/imgs/jiyang/lianxi.png" width="73" height="25" alt="">
                            </div>
                            <div class="word">
                                <span>联系</span>
                            </div>
                        </div>
                    </div>
                    <p>
                        每天，狗狗都会在小区门口等我下班回家
                        <br>
                        好喜欢它～
                    </p>
                    <div class="img_box">
                        <div class="img1">
                            <img src="../static/imgs/jiyang/shagou.png" width="153" height="153" alt="">
                        </div>
                        <div class="img2">
                            <img src="../static/imgs/jiyang/shagou2.png" width="153" height="153" alt="">
                        </div>
                    </div>
                    <div class="pinglun">
                        <div class="zang">
                            <div class="left">
                                <div class="img_zang1">
                                    <img src="../static/imgs/jiyang/zang1img.png" width="28" height="28" alt="">
                                </div>
                                <div class="img_zang1">
                                    <img src="../static/imgs/jiyang/zang2img.png" width="28" height="28" alt="">
                                </div>
                                <div class="img_zang1">
                                    <img src="../static/imgs/jiyang/zang3img.png" width="28" height="28" alt="">
                                </div>
                                <div class="zangnum">
                                    <span style="color:#FE9186;">2468</span>
                                    个赞
                                </div>
                            </div>
                            <div class="right">
                                <div class="img_icon">
                                    <img src="../static/imgs/jiyang/zangicon.png" width="41" height="38" alt="">
                                </div>
                                <div class="img_icon">
                                    <img src="../static/imgs/jiyang/pinglunicon.png" width="41" height="38" alt="">
                                </div>
                                <div class="img_icon">
                                    <img src="../static/imgs/jiyang/zhuanfaicon.png" width="41" height="38" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="con2">
                            <div class="pinglun_con">
                                <span style="color:#FE4735;">包子：</span>
                                好可爱~
                            </div>
                            <div class="pinglun_con">
                                <div>
                                    <span style="color:#FE4735;">麦芽糖：</span>
                                </div>
                                <div class="img_jiaozi">
                                    <img src="../static/imgs/jiyang/jiaozi.png" width="18" height="18" alt="">
                                </div>
                                狗狗萌萌哒
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>